# Introduction to Climate Science
Welcome to the Coding Foundations of Research (CFR) module on Climate Science! In the next three weeks we'll learn about Earth's climate system, climate modeling, and working with multi-demensional datasets.

## What is Climate Science?
Climate science is the study of the climate system of the earth with emphasis on the physical, dynamical, and chemical interactions of the atmosphere, ocean, land, ice, and the terrestrial and marine biospheres. The field encompasses changes on seasonal to interannual time scales and those induced by human activities, as well as paleoclimatic changes on time scales from centuries to millions of years.

### Weather vs. Climate
**Weather** refers to atmospheric conditions that occur locally over short periods of time—from minutes to hours or days. Familiar examples include rain, snow, clouds, winds, floods, or thunderstorms.

**Climate**, refers to the long-term (usually at least 30 years) regional or even global average of temperature, humidity, and rainfall patterns over seasons, years, or decades.

### [The Climate System](https://scied.ucar.edu/learning-zone/earth-system/climate-system)
The Earth's Climate system consists of interacting **components**. These are:
* **Sun**: All energy in the Earth’s climate system originates from the Sun. The Sun constantly provides the top of our atmosphere with an average of 342 Watts per square meter of energy.
* **Atmosphere**: the air and clouds above the surface of the Earth. The atmosphere is about 10 km thick (more than two thirds of its mass is
contained below that height).
* **Ocean**: the bodies of water that cover more than two thirds of the Earth's surface. The ocean has an average depth of 4km.
* **Cryosphere**: includes sea ice, mountain glaciers and ice sheets on land. *Sea ice* is frozen sea water, up to several meters thick, floating on the ocean. *Ice sheets* on land, made out of compressed snow, can be several kilometers thick.
* **Biosphere**: all living things on land and in the oceans. This includes microscopic microbes, plants, animals, and even humans.
* **Lithosphere**: the solid Earth (upper crust and mantle), could also be considered an active part of Earth’s climate sytem because it responds to ice load and impacts atmospheric carbon dioxide (CO2) concentrations and climate on long timescales through the movements of
the continents.

![IPCC AR4 FAQ Components of Earth's climate system](https://scied.ucar.edu/sites/default/files/styles/extra_large/public/media/images/faq-1-2-figure-1-l.png.webp?itok=s3UvRv-s)

The components of the climate system, their processes, and interactions. This includes the atmosphere, biosphere (life), cryosphere (ice), hydrosphere (water), land and human influences, and the interactions between these components (shown with two-way arrows). The parts of the system that can change are labeled as "Changes".

## Why study Earth's climate?

*Poll the class*

## [How do we study Earth's Climate?](https://scied.ucar.edu/learning-zone/how-climate-works/researching-climate-change)

* **Direct measurements**
    * in-situ measurements (i.e. on the ground, in the air, in the ocean, on/in ice)
    * data from satellites in space
    * instruments on the International Space Station
* **[In-direct measurements](https://climate.nasa.gov/explore/evidence-for-earths-past-climate/)**
    * *Biological proxies*: geologically preserved organisms (such as diatoms, forams, and coral), tree rings
    * *Physcial proxies*: ice cores, sediment cores
    * *Chemical proxies*: isotope ratios, elemental analyses, biomarkers, biogenic silica
* **Theory and Simple Models**
* **Complex Models (Computer Simulations)**
* **Laboratory Experiments**

## Earth's Global Average Surface Temperature, a key climate indicator (1850-2023)
The average temperature of the surface of the Earth is a powerful tool for quantifying Earth's climate and has profound impacts on human, biological, and physical systems. So what sets the mean surface temperature of the Earth?

Let's start by looking at [a record of Earth's average surface temperature](https://berkeleyearth.org/data/) to see what the recent climate has looked like.

In [1]:
# import packages
import pandas as pd
import matplotlib.pyplot as plt

In [2]:
# load data
fname_in = '../data/GAST_BerkeleyEarth_1850-2023.csv'
gast = pd.read_csv(fname_in)

In [3]:
gast

      Year  Month  Monthly Average  Monthly Anomaly Uncertainty
0     1850      1           11.440                        0.404
1     1850      2           12.197                        0.524
2     1850      3           12.666                        0.449
3     1850      4           13.345                        0.304
4     1850      5           14.288                        0.249
...    ...    ...              ...                          ...
2083  2023      8           17.092                        0.047
2084  2023      9           16.736                        0.040
2085  2023     10           15.644                        0.046
2086  2023     11           14.642                        0.050
2087  2023     12           13.929                        0.045

[2088 rows x 4 columns]

We'll add a datetime column to make using Pandas a little easier

In [4]:
gast['Time'] = pd.to_datetime(gast[['Year','Month']].assign(Day=1))

In [5]:
df = gast.set_index('Time')[['Monthly Average','Monthly Anomaly Uncertainty']]

The dataframe `df` now holds the *time series* of monthly averaged global average surface temperature of Earth. A time series is a series of values of a quantity obtained at successive times, often with equal intervals between them.

**Plot the time series of the monthly averaged global average surface temperature of Earth.**

In [6]:
# plot the monthly average gast

What do you notice?

[put your notes here]

Let's make the plot again but overlay a rolling average of the monthly data so we get a sense of the record if that doesn't include the anual cycle of Earth's global average surface temperature

In [7]:
# plot the monthly average gast with rolling average

It can be useful to look at longer averages of the temperature record that average over the annual cycle of the temperature record, which is related to natural cycles in Earth's climate system. Let's make a new time series that is the average GAST for each year in the reccord.

### Assignment

Visualize, in your own way how the Earth's climate has evolved over the 1850-2023 time period. Remember that climate referes to a long-term average, usually over 30 years in length. You may chose to do this with line plots, histograms, bar charts. You can use the monthly or annually averaged dataset, or both. Add notes about why you chose your particular visualization. What kind of question did you want to answer?