# Session 14: Diving Deeper into Pandas and DataFrames

## Introduction

This tutorial dives deeper into the Pandas library, focusing on advanced DataFrame operations such as grouping, slicing, and selecting values. By the end of this tutorial, you will have a comprehensive understanding of how to manipulate and analyze data using Pandas.

## Objectives

- Advanced DataFrame manipulation techniques
- Grouping and aggregating data
- Slicing and selecting specific values

## Prerequisites

- Basic knowledge of Pandas and DataFrames
- Understanding of Python functions, arrays, lists, NumPy, loops, and conditionals

## Estimated Time

1.5 hours

## Part 1: Advanced DataFrame Manipulation (30 minutes)

### Slicing DataFrames

#### Example 1: Slicing Rows and Columns

Instructions:
- Use loc for label-based indexing.
- Use iloc for position-based indexing.

In [17]:
import pandas as pd

# Sample data
data = {
    'Name': ['Alice', 'Bob', 'Charlie', 'David', 'Eve'],
    'Age': [24, 27, 22, 32, 29],
    'City': ['New York', 'Los Angeles', 'Chicago', 'Houston', 'Phoenix']
}
df = pd.DataFrame(data)

# Slicing rows using loc
print(df.loc[1:3])

# Slicing rows and columns using loc
print(df.loc[1:3, ['Name', 'City']])

# Slicing rows using iloc
print(df.iloc[1:3])

# Slicing rows and columns using iloc
print(df.iloc[1:3, 0:2])

      Name  Age         City
1      Bob   27  Los Angeles
2  Charlie   22      Chicago
3    David   32      Houston
      Name         City
1      Bob  Los Angeles
2  Charlie      Chicago
3    David      Houston
      Name  Age         City
1      Bob   27  Los Angeles
2  Charlie   22      Chicago
      Name  Age
1      Bob   27
2  Charlie   22

### Practice Problem 1: Slice Your DataFrame

Create a DataFrame and practice slicing rows and columns using `loc` and `iloc`.

**Solution:**

In [18]:
# Sample data
data = {
    'Product': ['A', 'B', 'C', 'D', 'E'],
    'Price': [10, 20, 30, 40, 50],
    'Quantity': [100, 150, 200, 250, 300]
}
df = pd.DataFrame(data)

# Slicing rows using loc
print(df.loc[2:4])

# Slicing rows and columns using loc
print(df.loc[1:3, ['Product', 'Quantity']])

# Slicing rows using iloc
print(df.iloc[2:4])

# Slicing rows and columns using iloc
print(df.iloc[1:3, 0:2])

  Product  Price  Quantity
2       C     30       200
3       D     40       250
4       E     50       300
  Product  Quantity
1       B       150
2       C       200
3       D       250
  Product  Price  Quantity
2       C     30       200
3       D     40       250
  Product  Price
1       B     20
2       C     30

### Selecting Specific Values
#### Example 2: Selecting Specific Values

**Instructions:**
- Select a single value using `at` (label-based).
- Select a single value using `iat` (position-based).

In [19]:
# Selecting a single value using at
value = df.at[1, 'Product']
print(value)

# Selecting a single value using iat
value = df.iat[1, 0]
print(value)

B
B

### Practice Problem 2: Explore Your DataFrame
Explore the DataFrame you created in Practice Problem 1 using head(), info(), and describe().

**Solution:**

In [20]:
# Viewing the first few rows
print(df.head())

# Getting a concise summary
print(df.info())

# Getting a statistical summary
print(df.describe())

  Product  Price  Quantity
0       A     10       100
1       B     20       150
2       C     30       200
3       D     40       250
4       E     50       300
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5 entries, 0 to 4
Data columns (total 3 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Product   5 non-null      object
 1   Price     5 non-null      int64
 2   Quantity  5 non-null      int64
dtypes: int64(2), object(1)
memory usage: 252.0+ bytes
None
           Price    Quantity
count   5.000000    5.000000
mean   30.000000  200.000000
std    15.811388   79.056942
min    10.000000  100.000000
25%    20.000000  150.000000
50%    30.000000  200.000000
75%    40.000000  250.000000
max    50.000000  300.000000

## Part 2: Data Manipulation with Pandas (30 minutes)

### Selecting Data

#### Example 3: Selecting Columns and Rows
**Instructions**:
Select a single column using `df['column_name']`.
Select multiple columns using `df[['column1', 'column2']]`.
Select rows using `df.iloc[]` for integer-location based indexing.

In [21]:
# Selecting a single column
products = df['Product']
print(products)

# Selecting multiple columns
product_price = df[['Product', 'Price']]
print(product_price)

# Selecting rows by index
first_row = df.iloc[0]
print(first_row)

# Selecting a subset of rows and columns
subset = df.iloc[0:1, 0:1]
print(subset)

0    A
1    B
2    C
3    D
4    E
Name: Product, dtype: object
  Product  Price
0       A     10
1       B     20
2       C     30
3       D     40
4       E     50
Product       A
Price        10
Quantity    100
Name: 0, dtype: object
  Product
0       A

### Practice Problem 3: Select Data from Your DataFrame
Select the 'Product' and 'Price' columns from your DataFrame. Also, select the first two rows.


**Solution:**

In [22]:
# Selecting the 'Product' and 'Price' columns
product_price = df[['Product', 'Price']]
print(product_price)

# Selecting the first two rows
first_two_rows = df.iloc[0:2]
print(first_two_rows)

  Product  Price
0       A     10
1       B     20
2       C     30
3       D     40
4       E     50
  Product  Price  Quantity
0       A     10       100
1       B     20       150

### Filtering Data

#### Example 4: Filtering Data Based on Conditions

**Instructions:**

- Filter rows where a column meets a condition using boolean indexing.
- Combine multiple conditions using & (and) and | (or).

In [23]:
# Filtering rows where Price is more than 20
more_than_20 = df[df['Price'] > 20]
print(more_than_20)

# Filtering rows where Price is more than 10 and Quantity is 150
filtered_df = df[(df['Price'] > 10) & (df['Quantity'] == 150)]
print(filtered_df)

  Product  Price  Quantity
2       C     30       200
3       D     40       250
4       E     50       300
  Product  Price  Quantity
1       B     20       150

### Practice Problem 4: Filter Data in Your DataFrame


Filter rows where the 'Price' is greater than 600 and 'Quantity' is less than 100.

**Solution:**

In [24]:
# Filtering rows based on conditions
filtered_df = df[(df['Price'] > 600) & (df['Quantity'] < 100)]
print(filtered_df)

Empty DataFrame
Columns: [Product, Price, Quantity]
Index: []

### Adding and Removing Data
#### Example 5: Adding and Removing Columns

**Instructions**
- Add a new column to the DataFrame.
- Remove a column using df.drop().

In [25]:
# Adding a new column
df['Storage'] = [70000, 80000, 60000, 90000, 75000]
print(df)

# Removing a column
df = df.drop('Storage', axis=1)
print(df)

  Product  Price  Quantity  Storage
0       A     10       100    70000
1       B     20       150    80000
2       C     30       200    60000
3       D     40       250    90000
4       E     50       300    75000
  Product  Price  Quantity
0       A     10       100
1       B     20       150
2       C     30       200
3       D     40       250
4       E     50       300

### Practice Problem 5: Add and Remove Columns in Your DataFrame
Add a 'Discount' column to your DataFrame with values [10, 15, 20]. Then, remove the 'Quantity' column.

**Solution:**

In [26]:
# Adding a new column 'Discount'
df['Discount'] = [10, 15, 20, 10, 20]
print(df)

# Removing the 'Quantity' column
df = df.drop('Quantity', axis=1)
print(df)

  Product  Price  Quantity  Discount
0       A     10       100        10
1       B     20       150        15
2       C     30       200        20
3       D     40       250        10
4       E     50       300        20
  Product  Price  Discount
0       A     10        10
1       B     20        15
2       C     30        20
3       D     40        10
4       E     50        20

## Part 3: Advanced DataFrame Operations (40 minutes)

### Handling Missing Data

#### Example 6: Identifying and Handling Missing Data

**Instructions**
- Identify missing data using df.isnull().
- Drop rows with missing data using df.dropna().
- Fill missing data using df.fillna().

In [27]:
import numpy as np

# Adding missing data
df.loc[2, 'Age'] = np.nan
print(df)

# Identifying missing data
print(df.isnull())

# Dropping rows with missing data
df_dropped = df.dropna()
print(df_dropped)

# Filling missing data
df_filled = df.fillna(0)
print(df_filled)

  Product  Price  Discount  Age
0       A     10        10  NaN
1       B     20        15  NaN
2       C     30        20  NaN
3       D     40        10  NaN
4       E     50        20  NaN
   Product  Price  Discount   Age
0    False  False     False  True
1    False  False     False  True
2    False  False     False  True
3    False  False     False  True
4    False  False     False  True
Empty DataFrame
Columns: [Product, Price, Discount, Age]
Index: []
  Product  Price  Discount  Age
0       A     10        10  0.0
1       B     20        15  0.0
2       C     30        20  0.0
3       D     40        10  0.0
4       E     50        20  0.0

### Practice Problem 6: Handle Missing Data in Your DataFrame

Introduce missing data into your DataFrame and practice dropping rows and filling missing values.

**Solution:**

In [28]:
import numpy as np

# Introducing missing data
df.loc[1, 'Price'] = np.nan
print(df)

# Identifying missing data
print(df.isnull())

# Dropping rows with missing data
df_dropped = df.dropna()
print(df_dropped)

# Filling missing data
df_filled = df.fillna(0)
print(df_filled)

  Product  Price  Discount  Age
0       A   10.0        10  NaN
1       B    NaN        15  NaN
2       C   30.0        20  NaN
3       D   40.0        10  NaN
4       E   50.0        20  NaN
   Product  Price  Discount   Age
0    False  False     False  True
1    False   True     False  True
2    False  False     False  True
3    False  False     False  True
4    False  False     False  True
Empty DataFrame
Columns: [Product, Price, Discount, Age]
Index: []
  Product  Price  Discount  Age
0       A   10.0        10  0.0
1       B    0.0        15  0.0
2       C   30.0        20  0.0
3       D   40.0        10  0.0
4       E   50.0        20  0.0

### Grouping and Aggregating Data

#### Example 7: Grouping and Aggregating Data

**Instructions:**
- Group data using df.groupby().
- Perform aggregation functions such as sum(), mean(), etc.

In [29]:
# Sample data
data = {
    'Category': ['A', 'B', 'A', 'B', 'A'],
    'Value': [10, 20, 30, 40, 50]
}
df = pd.DataFrame(data)

# Grouping data by 'Category'
grouped = df.groupby('Category')

# Aggregating data
sum_values = grouped.sum()
print(sum_values)

mean_values = grouped.mean()
print(mean_values)

          Value
Category
A            90
B            60
          Value
Category
A          30.0
B          30.0

### Practice Problem 7: Group and Aggregate Data in Your DataFrame

Group your DataFrame by 'Product' and calculate the total and average price for each product.

`# Sample data
data = {
    'Product': ['Laptop', 'Tablet', 'Smartphone', 'Laptop', 'Tablet'],
    'Price': [1000, 500, 800, 1200, 450],
    'Quantity': [50, 30, 100, 70, 20]
}`

**Solution:**

In [30]:
# Sample data
data = {
    'Product': ['Laptop', 'Tablet', 'Smartphone', 'Laptop', 'Tablet'],
    'Price': [1000, 500, 800, 1200, 450],
    'Quantity': [50, 30, 100, 70, 20]
}
df = pd.DataFrame(data)

# Grouping data by 'Product'
grouped = df.groupby('Product')

# Aggregating data
total_price = grouped['Price'].sum()
average_price = grouped['Price'].mean()

print(total_price)
print(average_price)

Product
Laptop        2200
Smartphone     800
Tablet         950
Name: Price, dtype: int64
Product
Laptop        1100.0
Smartphone     800.0
Tablet         475.0
Name: Price, dtype: float64

### Merging and Joining DataFrames

#### Example 8: Merging DataFrames

**Instructions:**

- Merge two DataFrames using pd.merge().
- Perform different types of merges: inner, outer, left, right.

In [31]:
# Sample data
data1 = {
    'ID': [1, 2, 3],
    'Name': ['Alice', 'Bob', 'Charlie']
}
df1 = pd.DataFrame(data1)

data2 = {
    'ID': [1, 2, 4],
    'Age': [24, 27, 30]
}
df2 = pd.DataFrame(data2)

# Merging DataFrames
merged_df = pd.merge(df1, df2, on='ID', how='inner')
print(merged_df)

   ID   Name  Age
0   1  Alice   24
1   2    Bob   27

### Practice Problem 8: Merge DataFrames

Create two DataFrames with some common columns and merge them using different merge types.

**Solution:**

In [32]:
# Sample data for first DataFrame
data1 = {
    'ID': [1, 2, 3],
    'Name': ['Alice', 'Bob', 'Charlie']
}
df1 = pd.DataFrame(data1)

# Sample data for second DataFrame
data2 = {
    'ID': [1, 2, 4],
    'Age': [24, 27, 30]
}
df2 = pd.DataFrame(data2)

# Inner merge
inner_merged_df = pd.merge(df1, df2, on='ID', how='inner')
print(inner_merged_df)

# Outer merge
outer_merged_df = pd.merge(df1, df2, on='ID', how='outer')
print(outer_merged_df)

# Left merge
left_merged_df = pd.merge(df1, df2, on='ID', how='left')
print(left_merged_df)

# Right merge
right_merged_df = pd.merge(df1, df2, on='ID', how='right')
print(right_merged_df)

   ID   Name  Age
0   1  Alice   24
1   2    Bob   27
   ID     Name   Age
0   1    Alice  24.0
1   2      Bob  27.0
2   3  Charlie   NaN
3   4      NaN  30.0
   ID     Name   Age
0   1    Alice  24.0
1   2      Bob  27.0
2   3  Charlie   NaN
   ID   Name  Age
0   1  Alice   24
1   2    Bob   27
2   4    NaN   30

#### Conclusion

In this tutorial, you have learned how to:

- Create and manipulate DataFrames using Pandas
- Select, filter, add, and remove data
- Handle missing data
- Group and aggregate data
- Merge and join DataFrames